{% extends 'base.html' %}

{% block content %}

<h1>Bem vindo a páginas de games!</h1>
<hr>
{#Exemplo de Jinja2 template engine#}
<p>Jogo mais jogado do momento:</p>
<!--Percorrendo o dicionario com for -->
{% for chave, valor in game.items() %}
<details>
    <summary>{{chave}}</summary>
    <p>{{valor}}</p>
</details>

{% endfor %}

<p>O jogo {{game['titulo']}} tem {{2025 - game['ano']}} anos.</p>
<hr>
<p>Estão jogando no momento:</p>
<ol>
    {% for jogador in jogadores %}
    <li>{{jogador}}</li>
    {% endfor %}
</ol>
<hr>Entrar no jogo:</hr>
<form action="{{url_for('games')}}" , method="POST">
    <label for="">jogador:</label>
    <input type="text" name="jogador">
    <input type="submit" value="Entrar">
</form>

<hr>
{# Criar u7ma seção para exibir uma lista de outros games sendo jogados no momento. a lista deve
possuir 7 jogos e ser não ordenada#}

<p>Top 7 jogos mais legais: </p>
<ul>
    {% for jogo in jogos %}
    <li>{{jogo}}</li>
    {% endfor %}
</ul>

<hr>
<a href="/">volta rapaz</a>
{% endblock content %}